html
	head
		title YONEX - BADMINTON
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", href="/styles/header.css")
		link(rel="stylesheet", href="/styles/header_2.css")
		link(rel="stylesheet", href="/styles/index.css")
		link(rel="stylesheet", href="/styles/product_slider.css")
		link(rel="stylesheet", href="/styles/all_products.css")
		link(rel="stylesheet", href="/styles/type_product.css")
		link(rel="stylesheet", href="/styles/details_product.css")


		//- ICON FONT
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")

		//- jQuery

		script(src="https://code.jquery.com/jquery-3.5.0.js")
		script(src="/jquery/index.js")
	body
		//- BOOTSTRAP
		script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")




		.navigation-main
			.container.d-flex
				.logo-box.col-3
				.search-box.col-5
					form.form-search-box(action="#", method="GET")
						input.search-box-input.form-control(type="text",name="searchedUsers",placeholder=keyword)

						button.btn-search.p-0
							span.material-icons.search-icon search

				.hotline-box.col-2
					p.hotline Hotline:  0123123123
					p.khach-si-box
						span.khach-si Khách sỉ:  
						span 0312312312

				.account-box
					.account-box-content
						//- reuse "hotline" class
						p.hotline Tài khoản
						p.khach-si Xin chào, Khách

					ul.sign-box
						li
							a.text-dark(href="#") Đăng nhập
						li
							a.text-dark(href="#") Đăng kí


				.cart-box
					span.material-icons.cart-icon shopping_cart
					.badge.badge-warning.badge-cart= numCart
					.list-cart-box(id="list_cart_box")
						.gio-hang
							.gio-hang-content
								p.mb-0 Giỏ hàng
								.text-muted(style="font-size: 13.5px;") 
									span= "(" + cart.length + ") "
									span Sản phẩm
							.cart_btn_close.material-icons highlight_off
						ul
							each product_in_cart in cart
								li
									.list-cart-img-box
										img(src=product_in_cart.img)
									.list-cart-content
										a.list-cart-content-title(href="/products/details/" + product_in_cart.link)= product_in_cart.title
										.list-cart-content-price
											span.text-muted(style="font-size: 13.5px;") Số lượng
											span.product-in-cart-price= product_in_cart.price
										.list-cart-content-quantity
											button +
											input.buy-number-box.buy-number-box-2(value= product_in_cart.quantity)
											button -
										a(href="#").list-cart-content-unchoose-product.text-primary Bỏ sản phẩm
						.total-price
							span Thành tiền
							span(style="float: right;")= totalPrice
							button.btn.btn-primary.btn-order Tiến hành đặt hàng





		.header-fluid.container-fluid
			.header.container
				.products-category-box.col-3
					ul.products-category
						li.products-category-title
							span.material-icons.mr-2 menu
							span.danh-muc-san-pham Danh mục sản phẩm
							span.material-icons.play-arrow play_arrow
						ul.products-list
							li(id="racket-title")
								img.logo-products(src="/images/logo_racket.png")
								a(href="/products/racket").name-products-category Vợt Cầu Lông
								span.material-icons.next-arrow navigate_next
							li(id="shoes-title")
								img.logo-products(src="/images/logo_shoes.png")
								a(href="/products/shoes").name-products-category Giày Cầu Lông
								span.material-icons.next-arrow navigate_next
							li(id="t_shirt-title")
								img.logo-products(src="/images/logo_t-shirt.png")
								a(href="/products/t_shirt").name-products-category Áo Cầu Lông
								span.material-icons.next-arrow navigate_next
							//- li(id="dress-title")
							//- 	img.logo-products(src="/images/logo_dress.png")
							//- 	a(href="/products/dress").name-products-category Váy Cầu Lông
							//- 	span.material-icons.next-arrow navigate_next

							li(id="pants-title")
								img.logo-products(src="/images/logo_pants.png")
								a(href="/products/pants").name-products-category Quần Cầu Lông
								span.material-icons.next-arrow navigate_next

							//- li(id="tui-title")
							//- 	img.logo-products(src="/images/logo_tui.png")
							//- 	a(href="/products/").name-products-category Túi Cầu Lông
							//- 	span.material-icons.next-arrow navigate_next
							li(id="bag-title")
								img.logo-products(src="/images/logo_bag.png")
								a(href="/products/balo").name-products-category Balo Cầu Lông
								span.material-icons.next-arrow navigate_next
							li(id="accessories-title")
								img.logo-products(src="/images/logo_accessories.png")
								a(href="/products/accessories").name-products-category Phụ Kiện Cầu Lông
								span.material-icons.next-arrow navigate_next


							.product-brands-box(id="product-brands-box")
								ul.brand-list.racket-brands
									each brand in racketBrands
										li
											a.link-product-and-brand(href="/products/racket@" + brand)
												span Vợt cầu lông  
												span= brand

								ul.brand-list.shoes-brands
									each brand in shoesBrands
										li
											a.link-product-and-brand(href="/products/shoes@" + brand)
												span Giày cầu lông  
												span= brand

								ul.brand-list.t_shirt-brands
									each brand in t_shirtBrands
										li
											a.link-product-and-brand(href="/products/t_shirt@" + brand)
												span Áo cầu lông  
												span= brand


												
								//- ul.brand-list.dress-brands
								//- 	each brand in dressBrands
								//- 		li
								//- 			a.link-product-and-brand
								//- 				span Váy cầu lông  
								//- 				span= brand

								ul.brand-list.pants-brands
									each brand in pantsBrands
										li
											a.link-product-and-brand(href="/products/pants@" + brand)
												span Quần cầu lông  
												span= brand

								//- ul.brand-list.tui-brands
								//- 	each brand in tuiBrands
								//- 		li
								//- 			a.link-product-and-brand
								//- 				span Túi cầu lông  
								//- 				span= brand

								ul.brand-list.bag-brands
									each brand in baloBrands
										li
											a.link-product-and-brand(href="/products/balo@" + brand)
												span Balo cầu lông  
												span= brand

								ul.brand-list.accessories-brands
									each brand in nameAccessoriesBrands
										li
											a.link-product-and-brand(href="/products/accessories@$" + brand)
												span= brand


				ul.other-category.col-9
					li
						a(href="/", id="trang_chu") Trang chủ
					li
						a(href="/") Giới thiệu

					li.san-pham
						a(href="/products").san-pham-content
							span Sản phẩm
							span.material-icons.navigate-next navigate_next

						ul.san-pham-box
							.san-pham-top
								ul.san-pham-vot.p-0
									div.san-pham-title VỢT CẦU LÔNG
									each brand in racketBrands_sp
										li
											a(href="/products/racket@" + brand)
												span Vợt cầu lông  
												span= brand
									a.show-all(href="/products/racket") Xem tất cả...

								ul.san-pham-giay.p-0
									div.san-pham-title GIÀY CẦU LÔNG
									each brand in shoesBrands_sp
										li
											a(href="/products/shoes@" + brand)
												span Giày cầu lông  
												span= brand
									a.show-all(href="/products/shoes") Xem tất cả...

								ul.san-pham-ao.p-0
									div.san-pham-title ÁO CẦU LÔNG
									each brand in t_shirtBrands_sp
										li
											a(href="/products/t_shirt@" + brand)
												span  Áo cầu lông  
												span= brand
									a.show-all(href="/products/t_shirt") Xem tất cả...

								//- ul.san-pham-vay.p-0
								//- 	div.san-pham-title VÁY CẦU LÔNG
								//- 	each brand in dressBrands_sp
								//- 		li
								//- 			a
								//- 				span Váy cầu lông  
								//- 				span= brand

								//- 	a.show-all(href="/#") Xem tất cả...


							.san-pham-bottom
								ul.san-pham-quan.p-0
									div.san-pham-title QUẦN CẦU LÔNG
									each brand in pantsBrands_sp
										li
											a(href="/products/pants@" + brand)
												span Quần cầu lông  
												span= brand
									a.show-all(href="/products/pants") Xem tất cả...

								//- ul.san-pham-tui.p-0
								//- 	div.san-pham-title TÚI CẦU LÔNG
								//- 	each brand in tuiBrands_sp
								//- 		li
								//- 			a
								//- 				span Túi cầu lông  
								//- 				span= brand
								//- 	a.show-all(href="/#") Xem tất cả...
								ul.san-pham-balo.p-0
									div.san-pham-title BALO CẦU LÔNG
									each brand in baloBrands_sp
										li
											a(href="/products/balo@" + brand)
												span Balo cầu lông  
												span= brand
									a.show-all(href="/products/balo") Xem tất cả...
								ul.san-pham-phu-kien.p-0
									div.san-pham-title PHỤ KIỆN CẦU LÔNG
									each brand in nameAccessoriesBrands_sp
										li
											a(href="/products/accessories@$" + brand)
												span= brand
									a.show-all(href="/products/accessories") Xem tất cả...






					li
						a(href="/") Tin tức


					li.chinh-sach
						a(href="/").chinh-sach-content
							span Chính sách
							span.material-icons.navigate-next navigate_next
						ul.chinh-sach-box
							li
								a(href="#") Điều khoản sử dụng
							li
								a(href="#") Chính sách bảo mật
							li
								a(href="#") Chính sách nhượng quyền
					//- reuse chinh-sach element
					li.huong-dan
						a(href="/").huong-dan-content
							span Hướng dẫn
							span.material-icons.navigate-next navigate_next
						ul.huong-dan-box
							li
								a(href="#") Hướng dẫn thanh toán
							li
								a(href="#") Hướng dẫn mua 

					li 
						a(href="/") Liên hệ



		block content









