extends ./layouts/common

block content
	//- add swiper demo
	link(rel="stylesheet", href="/styles/swiper.min.css")
	script(src="/styles/swiper.min.js")


	.container
		// làm chữ trang chủ đỏ để hiển thị current page là trang chủ
		.d-none(id="current_page")= currentPage

		#carouselExampleIndicators.banner.carousel.slide(data-ride='carousel')
			ol.carousel-indicators
				li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
				li(data-target='#carouselExampleIndicators', data-slide-to='1')
				li(data-target='#carouselExampleIndicators', data-slide-to='2')
				li(data-target='#carouselExampleIndicators', data-slide-to='3')

			.carousel-inner
				.carousel-item.active
					img.d-block.w-100(src='https://res.cloudinary.com/lnk285478818/image/upload/v1603011701/VNB_BadmintonSport/banner_wucht_yn6ac6.jpg')
				.carousel-item
					img.d-block.w-100(src='https://res.cloudinary.com/lnk285478818/image/upload/v1603011701/VNB_BadmintonSport/banner_cushion_xthdii.jpg')
				.carousel-item
					img.d-block.w-100(src='https://res.cloudinary.com/lnk285478818/image/upload/v1603011701/VNB_BadmintonSport/banner_comfort_rzkepf.jpg')
				.carousel-item
					img.d-block.w-100(src='/images/banner_cushion88.jpg')
			a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
				span.carousel-control-prev-icon(aria-hidden='true')
				span.sr-only Previous
			a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
				span.carousel-control-next-icon(aria-hidden='true')
				span.sr-only Next

		.advantage-bar
			.adv.hotline-adv
				img.adv-icon(src="https://res.cloudinary.com/lnk285478818/image/upload/v1603011700/VNB_BadmintonSport/icon_hotline_qwzyju.svg")
				.adv-content
					p.adv-content-title Hotline (08-17h. trừ CN và chiều thứ 7)
					p.adv-content-note Hotline: 07886126959

			.adv.hotline-adv
				img.adv-icon(src="https://res.cloudinary.com/lnk285478818/image/upload/v1603011702/VNB_BadmintonSport/icon_quality_zzlfhu.svg")
				.adv-content
					p.adv-content-title Bảo đảm chất lượng
					p.adv-content-note Sản phẩm bảo đảm chất lượng

			.adv.hotline-adv
				img.adv-icon(src="https://res.cloudinary.com/lnk285478818/image/upload/v1603011700/VNB_BadmintonSport/icon_delivery_ahqyhm.svg")
				.adv-content
					p.adv-content-title Giao hàng toàn quốc
					p.adv-content-note Thanh toán khi nhận hàng

		form.search-bar(action="products/search", method="GET")
			input.form-control(type="text", placeholder="Nhập tên sản phẩm", name="name")
			select.form-control(name="type")
				option Tất cả
				option Vợt cầu lông
				option Giày cầu lông
				option Áo cầu lông
				option Quần cầu lông
				option Balo cầu lông
				option Phụ kiện cầu lông
			select.form-control(name="brand")
				option Tất cả
				option Yonex
				option Lining
				option Victor
			select.form-control(name="price")
				option Tất cả
				option Giá dưới  500.000đ
				option 500.000đ - 1 triệu
				option 1 - 2 triệu
				option 2 - 3 triệu
				option Trên 3 triệu
			button.form-control.btn.btn-primary TÌM KIẾM
		//- RACKET PRODUCT-SLIDER
		.product-slider
			p Vợt Cầu Lông
			.product-slider-title
				a(href="/products/racket@Yonex") Vợt cầu lông Yonex /
				a(href="/products/racket@Victor") Vợt cầu lông Victor /
				a(href="/products/racket@Lining") Vợt cầu lông Lining /
				a(href="/products/racket@Mizuno") Vợt cầu lông Mizuno /
				a(href="/products/racket").text-primary Xem tất cả

			//- swiper
			ul.product-lists.swiper-container
				.swiper-wrapper
					each racket in rackets
						li.product-box.card.swiper-slide
								a(href="/products/details/" + racket._id).product-box-img
									img(src=racket.img)
								.card-body
									a(href="/products/details/" + racket._id).card-title= racket.title
									a(href="/products/details/" + racket._id).card-text= racket.price
				//- Add pagination
				.swiper-pagination
				//- Add arrow
				.swiper-button-next
				.swiper-button-prev


		//- SHOES PRODUCT-SLIDER
		.product-slider
			p Giày Cầu Lông
			.product-slider-title
				a(href="/products/shoes@Yonex") Giày cầu lông Yonex /
				a(href="/products/shoes@Victor") Giày cầu lông Victor /
				a(href="/products/shoes@Lining") Giày cầu lông Lining /
				a(href="/products/shoes@Mizuno") Giày cầu lông Mizuno /
				a(href="/products/shoes").text-primary Xem tất cả

			//- swiper
			ul.product-lists.swiper-container
				.swiper-wrapper
					each shoes in shoesList
						li.product-box.card.swiper-slide
								a(href="/products/details/" + shoes._id).product-box-img
									img(src=shoes.img)
								.card-body
									a(href="/products/details/" + shoes._id).card-title= shoes.title
									a(href="/products/details/" + shoes._id).card-text= shoes.price
				//- Add pagination
				.swiper-pagination
				//- Add arrow
				.swiper-button-next
				.swiper-button-prev

		//- T_SHIRT PRODUCT SLIDER
		.product-slider
			p Áo Cầu Lông
			.product-slider-title
				a(href="/products/t_shirt@Yonex") Áo cầu lông Yonex /
				a(href="/products/t_shirt@Victor") Áo cầu lông Victor /
				a(href="/products/t_shirt@Lining") Áo cầu lông Lining /
				a(href="/products/t_shirt@Mizuno") Áo cầu lông Mizuno /
				a(href="/products/t_shirt").text-primary Xem tất cả

			//- swiper
			ul.product-lists.swiper-container
				.swiper-wrapper
					each t_shirt in t_shirtList
						li.product-box.card.swiper-slide
								a(href="/products/details/" + t_shirt._id).product-box-img
									img(src=t_shirt.img)
								.card-body
									a(href="/products/details/" + t_shirt._id).card-title= t_shirt.title
									a(href="/products/details/" + t_shirt._id).card-text= t_shirt.price
				//- Add pagination
				.swiper-pagination
				//- Add arrow
				.swiper-button-next
				.swiper-button-prev



		//- PANTS PRODUCT SLIDER
		.product-slider
			p Quần Cầu Lông
			.product-slider-title
				a(href="/products/pants@Yonex") Quần cầu lông Yonex /
				a(href="/products/pants@Victor") Quần cầu lông Victor /
				a(href="/products/pants@Lining") Quần cầu lông Lining /
				a(href="/products/pants@Mizuno") Quần cầu lông Mizuno /
				a(href="/products/pants").text-primary Xem tất cả

			//- swiper
			ul.product-lists.swiper-container
				.swiper-wrapper
					each pants in pantsList
						li.product-box.card.swiper-slide
								a(href="/products/details/" + pants._id).product-box-img
									img(src=pants.img)
								.card-body
									a(href="/products/details/" + pants._id).card-title= pants.title
									a(href="/products/details/" + pants._id).card-text= pants.price
				//- Add pagination
				.swiper-pagination
				//- Add arrow
				.swiper-button-next
				.swiper-button-prev

		//- BALO PRODUCT SLIDER
		.product-slider
			p Balo Cầu Lông
			.product-slider-title
				a(href="/products/balo@Yonex") Balo cầu lông Yonex /
				a(href="/products/balo@Victor") Balo cầu lông Victor /
				a(href="/products/balo@Lining") Balo cầu lông Lining /
				a(href="/products/balo@Mizuno") Balo cầu lông Mizuno /
				a(href="/products/balo").text-primary Xem tất cả

			//- swiper
			ul.product-lists.swiper-container
				.swiper-wrapper
					each balo in baloList
						li.product-box.card.swiper-slide
								a(href="/products/details/" + balo._id).product-box-img
									img(src=balo.img)
								.card-body
									a(href="/products/details/" + balo._id).card-title= balo.title
									a(href="/products/details/" + balo._id).card-text= balo.price
				//- Add pagination
				.swiper-pagination
				//- Add arrow
				.swiper-button-next
				.swiper-button-prev


		//- ACcESSORIES PRODUCT SLIDER
		.product-slider
			p Phụ  Cầu Lông
			.product-slider-title
				a(href="/products/accessories@$vớ") Vớ cầu lông /
				a(href="/products/accessories@$cước") Cước đan cầu lông /
				a(href="/products/accessories@$cán") Quấn cán cầu  /
				a(href="/products/accessories").text-primary Xem tất cả

			//- swiper
			ul.product-lists.swiper-container
				.swiper-wrapper
					each accessories in accessoriesList
						li.product-box.card.swiper-slide
								a(href="/products/details/"  + accessories._id).product-box-img
									img(src=accessories.img)
								.card-body
									a(href="/products/details/"  + accessories._id).card-title= accessories.title
									a(href="/products/details/"  + accessories._id).card-text= accessories.price
				//- Add pagination
				.swiper-pagination
				//- Add arrow
				.swiper-button-next
				.swiper-button-prev


		script(src="/styles/product_slider.js")
		script(src="/styles/make_current_page_link_red.js")







